<div class="hotspot-inline trailing_bookend bookend hotspot-message" id="hotspot_intro_link_icon">
    <div class="hotspot-inline-top"><h1 class="hotspot-title">Welcome to our organization!</h1></div>
    <div class="hotspot-inline-left">
        <p></p>
        <img class="hotspot-img" alt="" src="/static/images/hotspots/whale.svg">
    </div>
    <div class="hotspot-inline-right">
        <p></p>
        <p>{{t 'You can find additional information about the organization by clicking this link.' }}</p>
        <a href={{org_url}}>{{t 'Organization URL' }}</a>
        <p></p>
        <button class="hotspot-link-button hotspot-confirm" type="button">{{t 'Got it!' }}</button>
    </div>
</div>
