<div class="hotspot-inline trailing_bookend bookend hotspot-message" id="hotspot_welcome_icon">
    <div class="hotspot-inline-top"><h1 class="hotspot-title">Welcome</h1></div>
    <div class="hotspot-inline-bottom">
        <div>{{t 'Welcome to our organization! You can find additional information about the organization by clicking this link.'}}</div>
        <a href={{org_url}}>{{t 'Organization URL'}}</a>
        <button class="hotspot-button hotspot-confirm" id="hotspot-welcome-button" type="button">{{t 'Got it!' }}</button>
    </div>
</div>
